.footer-content {
    background-color: #020f2a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

p {
    color: white;
}

a {
    color:white;
    margin-left: 10px;

}