.highlights-content {
    width: 100%;
    /* background-image: url("../img/Captura-de-pantalla-2022-04-05-a-las-15.44.00.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: rgb(230, 230, 230);
}

.highlights-content > .video-title {
    padding: 40px 60px 0px;

}

.highlights-content > .video-title > h4 {
    font-weight: bolder;
    font-size: 1.1rem;
}

.banner-wrapper {
    width: 100%;
    background-color: #550065;
    display: flex;
    align-items: center;
}

.banner-wrapper > .banner-title {
    width: 35%;
    margin-left: 30px;
    color: white;
}

.banner-wrapper > .banner-img {
    width: 65%;
}

.banner-wrapper > .banner-img > img {
    width: 100%;
}

.videos-content {
    padding: 40px 60px;
    display: grid;
    gap: 1rem;
    grid-auto-rows: 24rem;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 20rem), 1fr));
}

.video {
    width: 330px;
}

.video > h2 {
    font-weight: bolder;
    font-size: .9rem;
    text-transform: uppercase;
}

.video > iframe {
    width: 100%;
    border-radius: 30px;
}

.video-final {
    background-color: #550065;
    color: white;
    padding: 30px ;
}

.video-final > h4 {
    font-weight: bolder;
    font-size: 1.1rem;
}

.video-final > .video {
    width: 80%;
    margin: auto;
}

.video-final > .video > iframe {
    border-radius: 0px;
    height: 500px;
}

@media (max-width: 950px) {
    .banner-wrapper {
        flex-direction: column;
    }

    .banner-wrapper > .banner-title {
        width: 100%;
        margin: 15px 40px;
    }
}

